---
- name: Update and full-upgrade packages
  apt:
    update_cache: yes
    upgrade: full
    autoremove: yes
    autoclean: yes
  register: apt_upgrade
  retries: 5
  delay: 20
  until: apt_upgrade is success

- name: Check if reboot is required
  stat:
    path: /var/run/reboot-required
  register: reboot_required

- name: Notify if reboot is required
  debug:
    msg: "NOTICE: A system reboot is required. Please reboot manually after the playbook completes."
  when: reboot_required.stat.exists

- name: Install initial packages
  apt:
    name: "{{ initial_packages }}"
    state: latest
    update_cache: yes

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: latest
    update_cache: yes
