---
- name: Validate SSH configuration
  fail:
    msg: >
      SECURITY ERROR: You are disabling root login and password auth
      but no SSH key is defined. This will lock you out!
      Define 'security_ssh_key' or keep root login/password enabled.
  when:
    - security_ssh_permit_root_login == "no"
    - security_ssh_password_authentication == "no"
    - security_ssh_key | length == 0

- name: Ensure SSH is Enabled and Started on Boot
  systemd:
    name: ssh
    enabled: true
    state: started

- name: Secure SSH Connection
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: 'sshd -T -f %s'
    mode: '0644'
  loop:
    - regexp: "^#Port"
      line: "Port {{ server_port }}"
    - regexp: "^Port"
      line: "Port {{ server_port }}"
    - regexp: "^PubkeyAuthentication"
      line: "PubkeyAuthentication yes"
    - regexp: "^PasswordAuthentication"
      line: "PasswordAuthentication {{ security_ssh_password_authentication }}"
    - regexp: "^PermitRootLogin"
      line: "PermitRootLogin {{ security_ssh_permit_root_login }}"
    - regexp: "^PermitEmptyPasswords"
      line: "PermitEmptyPasswords {{ security_ssh_permit_empty_password }}"
    - regexp: "^ChallengeResponseAuthentication"
      line: "ChallengeResponseAuthentication {{ security_ssh_challenge_response_auth }}"
    - regexp: "^GSSAPIAuthentication"
      line: "GSSAPIAuthentication {{ security_ssh_gss_api_authentication }}"
    - regexp: "^X11Forwarding"
      line: "X11Forwarding {{ security_ssh_x11_forwarding }}"
    - regexp: "^PubkeyAcceptedKeyTypes"
      line: "PubkeyAcceptedKeyTypes=+ssh-rsa"

- name: Stop SSH Socket
  systemd:
    name: ssh.socket
    state: stopped
    enabled: false

- name: Add SSH public key to authorized_keys
  authorized_key:
    user: "{{ server_user }}"
    state: present
    key: "{{ security_ssh_key }}"
  when: security_ssh_key | length > 0

- name: Generate SSH key for user
  user:
    name: "{{ server_user }}"
    generate_ssh_key: yes
    ssh_key_bits: 4096
    ssh_key_file: .ssh/id_rsa
  register: ssh_key_result
  when: server_user == "root"

- name: Convert SSH private key to PEM format
  command: ssh-keygen -p -m PEM -f /root/.ssh/id_rsa -N ""
  when:
    - server_user == "root"
    - ssh_key_result.changed

- name: Display SSH public key
  set_fact:
    vmsetup_summary: "{{ (vmsetup_summary | default([])) + ['SSH public key: ' ~ lookup('file', '/root/.ssh/id_rsa.pub')] }}"
  when:
    - server_user == "root"
    - ssh_key_result.changed
