---
- name: Generate random password for user
  shell: pwgen -N 1 -c -n 16 2>&1
  register: generated_password
  changed_when: false
  when:
    - server_user != "root"
    - server_user_password | length == 0

- name: Set user password fact
  set_fact:
    user_password: "{{ server_user_password if server_user_password | length > 0 else generated_password.stdout }}"
  when: server_user != "root"

- name: Create admin group
  group:
    name: admin
    state: present
  when: server_user != "root"

- name: Ensure docker group exists
  group:
    name: docker
    state: present
  when: server_user != "root"

- name: Create project user
  user:
    name: "{{ server_user }}"
    groups: "admin,docker"
    shell: /bin/bash
    state: present
    create_home: yes
    password: "{{ user_password | password_hash('sha512') }}"
  when: server_user != "root"

- name: Set login directory in bashrc
  lineinfile:
    path: "/home/{{ server_user }}/.bashrc"
    line: "cd {{ server_login_dir }}"
    state: present
  when:
    - server_user != "root"
    - server_login_dir | length > 0

- name: Allow admin users to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%admin'
    line: '%admin ALL=(ALL) NOPASSWD: ALL'
    validate: visudo -cf %s
  when: server_user != "root"

- name: Add SSH public key to user's authorized_keys
  authorized_key:
    user: "{{ server_user }}"
    state: present
    key: "{{ security_ssh_key }}"
  when:
    - server_user != "root"
    - security_ssh_key | length > 0

- name: Generate SSH key for user
  user:
    name: "{{ server_user }}"
    generate_ssh_key: yes
    ssh_key_bits: 4096
    ssh_key_file: .ssh/id_rsa
  register: user_ssh_key_result
  when: server_user != "root"

- name: Add user credentials to summary
  set_fact:
    vmsetup_summary: "{{ (vmsetup_summary | default([])) + [
      'Username: ' ~ server_user,
      'Password: ' ~ user_password,
      'SSH Port: ' ~ (server_port | string),
      'SSH Login Dir: ' ~ (server_login_dir if server_login_dir | length > 0 else '/home/' ~ server_user),
      'Login: ssh ' ~ server_user ~ '@<server_ip> -p ' ~ (server_port | string)
    ] }}"
  when: server_user != "root"

- name: Display user SSH public key
  set_fact:
    vmsetup_summary: "{{ (vmsetup_summary | default([])) + ['SSH public key for ' ~ server_user ~ ': ' ~ lookup('file', '/home/' + server_user + '/.ssh/id_rsa.pub')] }}"
  when:
    - server_user != "root"
    - user_ssh_key_result.changed
